<?xml version="1.0"?>
<!--
 * @category    St
 * @package     St_ProductListBlockCache
 * @author      Simen Thorsrud <simen.thorsrud@gmail.com>
 * @license     http://opensource.org/licenses/MIT The MIT License (MIT)
-->
<config>
    <modules>
        <St_ProductListBlockCache>
            <version>0.1.3</version>
        </St_ProductListBlockCache>
    </modules>
    <global>
        <blocks>
            <st_productlistblockcache>
                <class>St_ProductListBlockCache_Block</class>
            </st_productlistblockcache>
            <catalog>
                <rewrite>
                    <product_list>St_ProductListBlockCache_Block_Catalog_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config>
